/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.list {
    list-style-type: none;
}

.grey {
    color: grey;
}

.blue {
    color: blue;
}

/* HEADER */

    /* nav header */
    nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        padding: 0 20px;
        background-color: #fff;
    }

        nav > div {
            display: flex;
            align-items: center;
            width: 30%;
        }

            .menu {
                width: 100%;
                height: 100%;
                
            }

                .top {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }

                    .top li {
                        display: flex;
                        align-items: center;
                        margin: 0 20px;
                        height: 100%;
                    }

                    .top li:hover {
                        border-bottom: 3px solid black;
                    }

                    /* links e bottoni */
                    .link {
                        text-decoration: none;
                    }

                        .white {
                            color: #fff;
                        }

                        .black {
                            color: black;
                        }
                 
                    .btn {
                        padding: 10px 20px;
                        text-align: center;
                    }

                        .azure {
                            background-color: rgb(0, 68, 255);
                        }

                        .bianco {
                            background-color: #fff;
                        }
                        
                        .empty {
                            border: 1px solid black;
                        }

    /* sezione header */
    .header_section {
        margin-top: 80px;
        padding-top: 80px;
        background-color: rgb(144, 170, 207);
    }
        /* blocco sezione header */
        .header_section_block {
            width: 70%;
            margin: 0 auto;
        }   

            .header_section_block h1 {
                font-size: 80px;
                font-weight: bolder;
            }
        
            .header_section_block > div {
                display: flex;
                padding-top: 40px;
            }

                .header_section_block--text {
                    width: 30%;                   
                }

                    .header_section_block--text > div {
                        margin: 40px 0;
                    } 

                .header_section_block--img {
                    width: 70%;
                }

                    .header_section_block--img > img {
                        max-width: 100%;
                        min-height: 110%;
                    }

/* MAIN */

/* sezione 1 */
.main_section {
    width: 60%;
    margin: 100px auto;
}

    .main_section h2 {
        font-size: 36px;
        margin-bottom: 35px;
    }

    .fatturazione {
        margin-bottom: 30px;
    }

        .fatturazione span {
            margin-right: 15px;
        }

        .icon {
            margin-right: 5px;
        }

    /* blocco sezione 1 */
    .main_section_block {
        display: flex;
        justify-content: space-between;

    } 
        /* elemento blocco */
        .block_col {
            width: 30%;  
        }

            .border {
                border: 1px solid rgb(223, 220, 220);
            }
            /* intestazione del blocco */
            .block_header {
                text-align: center;
                padding: 10px 0;
                border-bottom: 1px solid rgb(223, 220, 220);
            }
            /* corpo del blocco */
            .block_main {
                padding: 30px 20px;
            }

                .packet {
                    margin-bottom: 50px;
                }

                    .price {
                        margin: 10px 0;
                    }

                    /* content */
                    .list.mid :nth-child(2), .list.mid :nth-child(4) {
                        margin: 20px 0;
                    }

                    .content :nth-child(2) {
                        margin: 40px 0;
                    }

                    .divisore {
                        width: 20%;
                        margin: 40px 0;
                        color: rgb(223, 220, 220);
                    }

                    .content h4 {
                        margin-bottom: 20px;
                    }

    /* sottoblocco sezione 1 */
    .main_section_underblock {
        margin-top: 50px;
    }
        .due {
            display: flex;
            justify-content: space-between;
        }  
        
            .block_main--text {
                width: 65%;
            }

                .block_main--text h3 {
                    margin-bottom: 20px;
                }

                .block_main--text h4 {
                    margin-bottom: 40px;
                }

            .block_main--btn {
                width: 30%;
            }

/* sezione 2 */
.main_section_block--img {
    width: 55%;
}
    .main_section_block--img > img {
        max-width: 100%;
    }

.main_section_block--text {
    width: 40%;
    padding-top: 50px;
}

    .main_section_block--text > div {
        margin-top: 40px;
    }

/* sezione 3 */
    .block_col--content{
        margin-bottom: 60px;
        
        }
        .block_col--content img {
            max-width: 100%;
        }

        .block_col--content h3 {
            margin: 15px 0;
        }

/* sezione 4 */

    /* slideshow */
    .slideshow {
        display: flex;
        height: calc(100vw / 3);
    }

        /* blocco centrale */
        .slideshow_block.central {
            display: block;
            padding: 25px;
            background-color: rgb(236, 235, 235);
            overflow-y: auto;
        }

            .slideshow_block.central p {
                margin-bottom: 30px;
            }
        
         /* blocco selezione slideshow */
        .slideshow_block {
            width: calc(100vw / 3);
            display: flex;
        }

            .slideshow_block_col {
                width: 50%;
                height: 50%;
            }

                .col_element {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: calc(100vw / 6);
                }

                    .col_element--img {
                        max-width: 50%;
                    }

                        .invert {
                            filter: invert(100%);
                        }

                    .lightgreen {
                        background-color: lightgreen;
                    }

                    .lightblue {
                        background-color: rgb(46, 172, 214) ;
                    }

                    .bordeaux {
                        background-color: rgb(78, 5, 5);
                    }
                
                    .red {
                        background-color: red;
                    }
                    
                    .ciano {
                        background-color: lightblue;
                    }
                    
                    .yellow {
                        background-color: yellow;
                    }

                    .blu {
                        background-color: rgb(14, 14, 194);
                    }
    
    /* sottoblocco slideshow */
    .slideshow_underblock{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

        .slideshow_underblock_block {
            width: 60%;
        }                

            .slideshow_underblock_block h2 {
                color: rgb(93, 8, 114);
            } 

/* sezione 5 */

/* faq */
.faq > div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(223, 220, 220);
}

    .faq_question--text {
        width: 70%;
    }

    .faq_question--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
    }

        .faq h4 {
            margin: 30px 0;
        }

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding-top: 100px;
}

    footer > div {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

        /* blocco footer */
        .footer_block {
            width: 18%;
        }     

            .footer_block h3 {
                color: #fff;
                margin-bottom: 25px;
            }
        
            .footer_block li {
                margin-bottom: 10px;
            }
            
            .divisore_footer {
                width: 60%;
                margin-top: 80px;
                color: #fff;
            }

            .footer_block > div {
                margin-top: 40px;
                color: #fff;
            }